<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../aui/head %>
</head>
<body class="container">
  <header>
    <% include ../aui/header %>
  </header>
  <main>
     <section id="content" role="main">
      <% include ../aui/sidebar %>
      <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
              <section class="aui-page-panel-content">
                  <!-- Page content goes here -->

                <div class="aui-tabs horizontal-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item active-tab">
                            <a href="#tabs-example-first"><strong>Tab 1</strong></a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-example-second"><strong>Tab 2</strong></a>
                        </li>
                    </ul>
                    <div class="tabs-pane active-pane" id="tabs-example-first">
                        <h2>This is Tab 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <table class="aui">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="type">Type</th>
                                    <th id="order">Order</th>
                                    <th id="action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td headers="name">Default</td>
                                    <td headers="type">Internal Directory</td>
                                    <td class="order" headers="order">
                                        <ul class="menu">
                                            <li>
                                                <a class="down" href="#">Down</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="action" headers="action">
                                        <ul class="menu">
                                            <li>
                                                <a href="#">An Action</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td headers="name">Corporate LDAP</td>
                                    <td headers="type">Microsoft Active Directory</td>
                                    <td class="order" headers="order">
                                        <ul class="menu">
                                            <li>
                                                <a class="up" href="#">Up</a>
                                            </li>
                                            <li>
                                                <a class="down" href="#">Down</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="action" headers="action">
                                        <ul class="menu">
                                            <li>
                                                <a href="#">An Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Another Action</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tabs-pane" id="tabs-example-second">
                        <h2>This is Tab 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div><!-- // .aui-tabs -->

              </section>
          </div>
      </div>

    </section>
  </main>

  <footer id="footer" role="contentinfo" data-module="components/footer">
      <% include ../aui/footer %>
  </footer>
</body>
</html>
