<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../aui/head %>
</head>
<body class="container">
  <header>
    <% include ../aui/header %>
  </header>
  <main>
     <section id="content" role="main">
      <% include ../aui/sidebar %>
      <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
              <section class="aui-page-panel-content">
                  <!-- Page content goes here -->

              </section>   <!-- end Page content goes here -->
          </div>
      </div>
    </section>
  </main>

  <footer id="footer" role="contentinfo" data-module="components/footer">
      <% include ../aui/footer %>
  </footer>

  <script src="../aui/js/aui-experimental.js"></script>
</body>
</html>
