<!--
 https://v4-alpha.getbootstrap.com/components/navbar/
 http://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_navbars.cfm
 https://blackrockdigital.github.io/startbootstrap-simple-sidebar/
 http://hosxp.net/joomla25/index.php/2012-06-06-06-33-25/bms-learning-center/191-learning-center-hosxp-opd
 http://triplewww.com/cm/bs/cover.html
-->
<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" , style="background-color: #205081;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a id="menu-toggle" class="navbar-brand" style="color: #fff;" href="#menu-toggle">Hera</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color: #fff;" href="/heraapp/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #fff;" href="/heraapp/pages/medical-record/index">งานเวชทะเบียน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #fff;" href="/heraapp/pages/database/index">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #fff;" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-sm-0">
        <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="ค้นหา...">
        <button class="btn btn-sm btn-primary  mr-sm-2" type="submit">ค้นหา</button>
      </form>
    </div>
  </nav>
</header>
